                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('austria')">Austria</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>German</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('belgio')">Belgio</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>German</li>
                                <li>French</li>
                                <li>Dutch</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('bulgaria international')">Bulgaria international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('canada')">CANADA</a></span></li>
                            <ul>
                                <li>French</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina')">Cina</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('croazia international')">Croazia international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('danimarca')">Danimarca</a></span></li>
                            <ul>
                                <li>Danish</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('estonia international')">Estonia international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('finlandia')">Finlandia</a></span></li>
                            <ul>
                                <li>Finnish</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia')">Francia</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>French</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('Germania')">Germania</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>German</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('giappone')">Giappone</a></span></li>
                            <ul>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('grecia')">Grecia</a></span></li>
                            <ul>
                                <li>Greek</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('hk')">HK</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('irlanda')">Irlanda</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia')">Italia</a></span></li>
                            <ul>
                                <li>Italian</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('latvia international')">Latvia international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('lituania international')">Lituania international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('lussemburgo international')">Lussemburgo international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('norvegia')">Norvegia</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>Norwegian</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('olanda')">Olanda</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('polonia international')">Polonia international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('portogallo')">Portogallo</a></span></li>
                            <ul>
                                <li>Portuguese</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('repubblica ceca international')">Repubblica Ceca international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('romania international')">Romania international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('russia international')">Russia international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('slovacchia international')">Slovacchia international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('slovenia international')">Slovenia international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('spagna')">Spagna</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>Spanish</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('svezia')">Svezia</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>Swedish</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('svizzera')">Svizzera</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>German</li>
                                <li>French</li>
                                <li>Italian</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk')">UK</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('ungheria international')">Ungheria international</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa')">USA</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                    </ul>
                </div>
