                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('france_5_80')">FRANCE</a></span></li>
                            <ul>
                                <li>FRENCH</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italy_5_80')">ITALY</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@ITALY@DSQUARED_ITALY_UNKNOWN-ITALIA-Dsquared2_privacy Policy.html</li>
                                <li>UNKNOWN@@@ITALY@DSQUARED_ITALY_UNKNOWN-ITALIA-Dsquared_ consensi.html</li>
                                <li>English</li>
                                <li>English</li>
                            </ul>
                    </ul>
                </div>
