                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('australia_4_40')">AUSTRALIA</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@AUSTRALIA@Jil Sander_AUSTRALIA_UNKNOWN-Informativa Jil Sanders International _EN_Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('canada_4_40')">CANADA</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@CANADA@Jil Sander_CANADA_UNKNOWN-Informativa Jil Sanders International _CANADA_ EN_ Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina_4_40')">CINA</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                                <li>UNKNOWN@@@CINA@Jil Sander_CINA_UNKNOWN-Cina_JS-privacy notice_EN_20211118 RevFF 17.01.2022 Clean.html</li>
                                <li>UNKNOWN@@@CINA@Jil Sander_CINA_UNKNOWN-CONSENT CHINA_Jil Sander_EN_20211118_RevFF 17.01.2022 Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('corea_4_40')">COREA</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@COREA@Jil Sander_COREA_UNKNOWN-Informativa Jil Sanders International _COREA_EN_Clean.html</li>
                                <li>UNKNOWN@@@COREA@Jil Sander_COREA_UNKNOWN-Informativa Jil Sanders International _COREA_KO_Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia_4_40')">FRANCIA</a></span></li>
                            <ul>
                                <li>FRENCH</li>
                                <li>UNKNOWN@@@FRANCIA@Jil Sander_FRANCIA_UNKNOWN-Informativa Jil Sanders omnichannel-europee FRANCIA_ EN_Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania_4_40')">GERMANIA</a></span></li>
                            <ul>
                                <li>GERMAN</li>
                                <li>UNKNOWN@@@GERMANIA@Jil Sander_GERMANIA_UNKNOWN-Informativa Jil Sanders omnichannel-europee GERMANIA_ EN_Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('hong kong_4_40')">HONG KONG</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@HONG KONG@Jil Sander_HONG KONG_UNKNOWN-Informativa Jil Sanders International _ HONG KONG_EN_ Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('international_4_40')">INTERNATIONAL</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@INTERNATIONAL@Jil Sander_INTERNATIONAL_UNKNOWN-Informativa Jil Sanders International _EN_Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_4_40')">ITALIA</a></span></li>
                            <ul>
                                <li>ITALIAN</li>
                                <li>UNKNOWN@@@ITALIA@Jil Sander_ITALIA_UNKNOWN-Informativa Jil Sanders omnichannel-europee ITALIA_ EN_Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('svizzera_4_40')">SVIZZERA</a></span></li>
                            <ul>
                                <li>FRENCH</li>
                                <li>GERMAN</li>
                                <li>ITALIAN</li>
                                <li>UNKNOWN@@@SVIZZERA@Jil Sander_SVIZZERA_UNKNOWN-Informativa Jil Sanders omnichannel-europee SVIZZERA_ EN _Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk_4_40')">UK</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@UK@Jil Sander_UK_UNKNOWN-Informativa Jil Sanders omnichannel-europee UK_ EN_ Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa_4_40')">USA</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@USA@Jil Sander_USA_UNKNOWN-DIGITAL_CONSENT_ JIL SANDER_USA_ Clean.html</li>
                                <li>UNKNOWN@@@USA@Jil Sander_USA_UNKNOWN-Informativa Jil Sander localizzata_ (omnichannel) USA Clean.html</li>
                                <li>UNKNOWN@@@USA@Jil Sander_USA_UNKNOWN-Jil Sander Text Club TCs incl Social Media - 09-2-22.html</li>
                            </ul>
                    </ul>
                </div>
