                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('austria_4_40')">AUSTRIA</a></span></li>
                            <ul>
                                <li>German</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina_4_40')">CINA</a></span></li>
                            <ul>
                                <li>Chinese</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('corea_4_40')">COREA</a></span></li>
                            <ul>
                                <li>Korean</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia_4_40')">FRANCIA</a></span></li>
                            <ul>
                                <li>FRENCH</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania_4_40')">GERMANIA</a></span></li>
                            <ul>
                                <li>German</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('giappone_4_40')">GIAPPONE</a></span></li>
                            <ul>
                                <li>Japanese</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('international_4_40')">INTERNATIONAL</a></span></li>
                            <ul>
                                <li>ITALIAN</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_4_40')">ITALIA</a></span></li>
                            <ul>
                                <li>ITALIAN</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('spagna_4_40')">SPAGNA</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>Spanish</li>
                                <li>Catalan</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk_4_40')">UK</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa_4_40')">USA</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                    </ul>
                </div>
