                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina_5_80')">Cina</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia_5_80')">Francia</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>FRENCH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania_5_80')">Germania</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>GERMAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('giappone_5_80')">Giappone</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                                <li>English</li>
                                <li>UNKNOWN@@@Giappone_Tradotta_JP@Marni_Giappone_Tradotta_JP_UNKNOWN-üÜJP_MARNI-JAPAN-based_privacy_notice_REV 25.8üiÿaû¾üj.html</li>
                                <li>UNKNOWN@@@Giappone_Tradotta_JP@Marni_Giappone_Tradotta_JP_UNKNOWN-üÜJP_Marni-JAPAN-consent_form-analogic_REV 25.8üiÿaû¾üj.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('hk_5_80')">HK</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_5_80')">Italia</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@Italia@Marni_Italia_UNKNOWN-Italia_informativa CRM MARNI Based.html</li>
                                <li>UNKNOWN@@@Italia@Marni_Italia_UNKNOWN-Italia_Informativa_ENG_CRM_MARNI Based_19.02.21.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('spagna_5_80')">Spagna</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>SPANISH</li>
                                <li>SPANISH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk_5_80')">UK</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa_5_80')">USA</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                            </ul>
                    </ul>
                </div>
