                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('austria')">Austria</a></span></li>
                            <ul>
                                <li>English@@@Austria final@Austria_Diesel-based privacy notice-final-marketing_consent.html</li>
                                <li>GERMAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('belgio')">Belgio</a></span></li>
                            <ul>
                                <li>English@@@Belgio final@Belgio Diesel-based privacy notice-final-marketing_consent.html</li>
                                <li>GERMAN</li>
                                <li>FRENCH</li>
                                <li>English@@@Belgio Tradotta_DE_NL_FR_final@Belgio Diesel-based privacy notice-final_NL DEF-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('bulgaria international')">Bulgaria international</a></span></li>
                            <ul>
                                <li>English@@@Bulgaria final@Bulgaria_Diesel-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('canada')">CANADA</a></span></li>
                            <ul>
                                <li>FRENCH</li>
                                <li>FRENCH</li>
                                <li>English@@@FINAL@Canada_Diesel-based Privacy notice-final-marketing_consent.html</li>
                                <li>English@@@FINAL@DIGITAL_CONSENT_ DIESEL_CANADA_Final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina')">Cina</a></span></li>
                            <ul>
                                <li>English@@@Cina_final@Cina_Diesel-based privacy notice-final 20201020 (003)-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('croazia international')">Croazia international</a></span></li>
                            <ul>
                                <li>English@@@Croazia_Final@Croazia_Diesel-based privacy notice_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('danimarca')">Danimarca</a></span></li>
                            <ul>
                                <li>English@@@Danimarca Tradotta_Dan_final@Danimarca_Diesel-based privacy notice-final_dan-marketing_consent.html</li>
                                <li>English@@@Danimarca_final@Danimarca_Diesel-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('estonia international')">Estonia international</a></span></li>
                            <ul>
                                <li>English@@@Estonia_final@Estonia_Diesel-based privacy notice_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('finlandia')">Finlandia</a></span></li>
                            <ul>
                                <li>FINNISH</li>
                                <li>English@@@Finlandia_final@Finlandia_Diesel-based privacy notice_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia')">Francia</a></span></li>
                            <ul>
                                <li>English@@@Francia final@Francia_Diesel-based privacy notice - final-marketing_consent.html</li>
                                <li>FRENCH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania')">Germania</a></span></li>
                            <ul>
                                <li>English@@@Germania final@Germania Diesel-based privacy notice-final-marketing_consent.html</li>
                                <li>GERMAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('giappone')">Giappone</a></span></li>
                            <ul>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('grecia')">Grecia</a></span></li>
                            <ul>
                                <li>GREEK</li>
                                <li>English@@@Grecia_final@Grecia_Diesel-privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('hk')">HK</a></span></li>
                            <ul>
                                <li>English@@@HK final@Hong Kong_Diesel-based privacy notice-versione finale_EH edited 20201126-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('irlanda')">Irlanda</a></span></li>
                            <ul>
                                <li>English@@@Irlanda_final@Irlanda_Diesel-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia')">Italia</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@Italia@Italia_informativa CRM DIESEL Based-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('latvia international')">Latvia international</a></span></li>
                            <ul>
                                <li>English@@@Latvia final@Latvia_Diesel-based privacy notice_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('lituania international')">Lituania international</a></span></li>
                            <ul>
                                <li>English@@@Lituania final@Lituania_Diesel-based privacy_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('lussemburgo international')">Lussemburgo international</a></span></li>
                            <ul>
                                <li>English@@@Lussemburgo final@Lussemburgo_Diesel-based privacy_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('norvegia')">Norvegia</a></span></li>
                            <ul>
                                <li>English@@@Norvegia final@Norvegia_Diesel Privacy Policy _final-marketing_consent.html</li>
                                <li>English@@@Norvegia_tradotta_NO_final@Norvegia_Diesel Privacy Policy _final_N-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('olanda')">Olanda</a></span></li>
                            <ul>
                                <li>English@@@Olanda_final@Olanda_Diesel-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('polonia international')">Polonia international</a></span></li>
                            <ul>
                                <li>English@@@Polonia final@Polonia Diesel-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('portogallo')">Portogallo</a></span></li>
                            <ul>
                                <li>PORTUGUESE</li>
                                <li>English@@@Portogallo_final@Portogallo_Diesel-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('repubblica ceca international')">Repubblica Ceca international</a></span></li>
                            <ul>
                                <li>English@@@Repubblica Ceca final@Repubblica Ceca_Diesel-based privacy notice_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('romania international')">Romania international</a></span></li>
                            <ul>
                                <li>English@@@Romania final@Romania_Diesel-based privacy notice_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('russia international')">Russia international</a></span></li>
                            <ul>
                                <li>English@@@Russia final@Russia_Diesel-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('slovacchia international')">Slovacchia international</a></span></li>
                            <ul>
                                <li>English@@@Slovacchia final@Slovacchia_Diesel-based privacy notice_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('slovenia international')">Slovenia international</a></span></li>
                            <ul>
                                <li>English@@@Slovenia final@Slovenia_Diesel-based privacy notice_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('spagna')">Spagna</a></span></li>
                            <ul>
                                <li>English@@@Spagna final@Spagna_Diesel-based privacy notice-final-marketing_consent.html</li>
                                <li>English@@@Spagna tradotta_ES_CAT_final@Spagna_Diesel-based privacy notice-final_CAT_REV-marketing_consent.html</li>
                                <li>SPANISH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('svezia')">Svezia</a></span></li>
                            <ul>
                                <li>English@@@Svezia final@Svezia_Diesel-based privacy notice-final-marketing_consent.html</li>
                                <li>English@@@Svezia tradotta_SV_final@Svezia_Diesel-based privacy notice-final_SV-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('svizzera')">Svizzera</a></span></li>
                            <ul>
                                <li>English@@@Svizzera final@Svizzera_Diesel-based privacy-final-marketing_consent.html</li>
                                <li>English@@@Svizzera tradotta_DE_IT_EN_FR final@Svizzera_Diesel-based privacy-final-marketing_consent.html</li>
                                <li>GERMAN</li>
                                <li>FRENCH</li>
                                <li>English@@@Svizzera tradotta_DE_IT_EN_FR final@Svizzera_Diesel-based privacy-final_ITA-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk')">UK</a></span></li>
                            <ul>
                                <li>English@@@UK final@UK_Diesel-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('ungheria international')">Ungheria international</a></span></li>
                            <ul>
                                <li>English@@@Ungheria final@Ungheria_Diesel-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa')">USA</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@CONSENTS@DIGITAL_CONSENT_ DIESEL_USA_-marketing_consent.html</li>
                                <li>English@@@INFORMATION NOTICE@Diesel-based privacy notice-USA_final-marketing_consent.html</li>
                                <li>English@@@Mark-up e commenti@Diesel-based privacy notice-USA (AF 7.24.2020)_1.12.2020_semifinal-marketing_consent.html</li>
                                <li>English@@@Mark-up e commenti@Diesel-based privacy notice-USA (AF 7.24.2020)_10.12.2020_final-marketing_consent.html</li>
                            </ul>
                    </ul>
                </div>
