                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('austria_2_20m')">Austria</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>GERMAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('belgio_2_20m')">Belgio</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                                <li>FRENCH</li>
                                <li>GERMAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('bulgaria international_2_20m')">Bulgaria International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('canada_2_20m')">Canada</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>FRENCH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina_2_20m')">Cina</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@Cina@Diesel_Cina_UNKNOWN-Cina_Diesel-based privacy notice_CN_20211118_ZL20220418_Rev.04.2022 Clean-marketing_consent.html</li>
                                <li>UNKNOWN@@@Cina@Diesel_Cina_UNKNOWN-Cina_Diesel-based privacy notice_EN_20211118 RevFF 25.01.2022- Rev.04.22 Clean-marketing_consent.html</li>
                                <li>UNKNOWN@@@Cina@Diesel_Cina_UNKNOWN-CONSENT CHINA-Diesel_CN_20211118_ZL20220418_Rev.04.2022 Clean-marketing_consent.html</li>
                                <li>UNKNOWN@@@Cina@Diesel_Cina_UNKNOWN-CONSENT CHINA_Diesel_EN_20211118_RevFF 25.01.2022 -Rev.04.22 Clean-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('croazia international_2_20m')">Croazia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('danimarca_2_20m')">Danimarca</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('estonia international_2_20m')">Estonia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('finlandia_2_20m')">Finlandia</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia_2_20m')">Francia</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>FRENCH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania_2_20m')">Germania</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>GERMAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('grecia international_2_20m')">Grecia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('hong kong_2_20m')">Hong Kong</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('irlanda_2_20m')">Irlanda</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_2_20m')">Italia</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>ITALIAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('latvia international_2_20m')">Latvia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('lituania international_2_20m')">Lituania International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('lussemburgo international_2_20m')">Lussemburgo International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('norvegia_2_20m')">Norvegia</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('olanda_2_20m')">Olanda</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('polonia international_2_20m')">Polonia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('portogallo_2_20m')">Portogallo</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>PORTUGUESE</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('repubblica ceca international_2_20m')">Repubblica Ceca International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('romania international_2_20m')">Romania International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('russia international_2_20m')">Russia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('singapore_2_20m')">Singapore</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('slovacchia international_2_20m')">Slovacchia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('slovenia international_2_20m')">Slovenia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('spagna_2_20m')">Spagna</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                                <li>SPANISH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('svezia_2_20m')">Svezia</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('svizzera_2_20m')">Svizzera</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>FRENCH</li>
                                <li>GERMAN</li>
                                <li>ITALIAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk_2_20m')">UK</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('ungheria international_2_20m')">Ungheria International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa_2_20m')">USA</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>UNKNOWN@@@USA@Diesel_USA_UNKNOWN-2022_DIGITAL_CONSENT_ DIESEL_USA-marketing_consent.html</li>
                            </ul>
                    </ul>
                </div>
