                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('austria international')">Austria international</a></span></li>
                            <ul>
                                <li>English@@@Austria international@Austria_Margiela privacy notice_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('belgio international')">Belgio international</a></span></li>
                            <ul>
                                <li>English@@@Belgio international@Belgio_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('bulgaria international')">Bulgaria international</a></span></li>
                            <ul>
                                <li>English@@@Bulgaria international@Bulgaria_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('canada')">Canada</a></span></li>
                            <ul>
                                <li>English@@@Canada_tradotta_FR_final@DIGITAL_CONSENT_ CANADA_final_FR-marketing_consent.html</li>
                                <li>FRENCH</li>
                                <li>English@@@FINAL@DIGITAL_CONSENT_ CANADA_final-marketing_consent.html</li>
                                <li>English@@@FINAL@Margiela-Privacy notice-Canada_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina')">CINA</a></span></li>
                            <ul>
                                <li>English@@@CINA@Cina_Margiela-based privacy notice-final 20201020-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cipro international')">Cipro international</a></span></li>
                            <ul>
                                <li>English@@@Cipro international@CIPRO_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('corea')">Corea</a></span></li>
                            <ul>
                                <li>English@@@Corea@Corea_Margiela-based privacy notice-final-marketing_consent.html</li>
                                <li>English@@@Corea tradotta_final@Corea_Margiela-based privacy notice-final_DEF-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('croazia international')">Croazia international</a></span></li>
                            <ul>
                                <li>English@@@Croazia international@Croazia_Margiela-based privacy notice_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('danimarca international')">Danimarca international</a></span></li>
                            <ul>
                                <li>English@@@Danimarca international@Danimarca_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('estonia international')">Estonia international</a></span></li>
                            <ul>
                                <li>English@@@Estonia international@Estonia_Margiela-based privacy notice_final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('finlandia international')">Finlandia international</a></span></li>
                            <ul>
                                <li>English@@@Finlandia international@Finlandia_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia')">Francia</a></span></li>
                            <ul>
                                <li>English@@@Francia@Francia_Margiela-based privacy notice-final-marketing_consent.html</li>
                                <li>FRENCH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania')">Germania</a></span></li>
                            <ul>
                                <li>English@@@Germania@Germania_Margiela-based privacy notice-final-marketing_consent.html</li>
                                <li>GERMAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('giappone')">Giappone</a></span></li>
                            <ul>
                                <li>English@@@Giappone@JAPAN privacy policy Margiela-final-marketing_consent.html</li>
                                <li>English@@@Giappone@Margiela-JAPAN-consent_form-digital-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('grecia international')">Grecia international</a></span></li>
                            <ul>
                                <li>English@@@Grecia international@Grecia_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('hk')">HK</a></span></li>
                            <ul>
                                <li>English@@@HK@Hong Kong_Margiela -based privacy notice_FINAL-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('irlanda international')">Irlanda international</a></span></li>
                            <ul>
                                <li>English@@@Irlanda international@Irlanda_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia')">Italia</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@Italia@Italia_informativa CRM MARGIELA Based-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('latvia international')">Latvia international</a></span></li>
                            <ul>
                                <li>English@@@Latvia international@Latvia_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('lituania international')">Lituania international</a></span></li>
                            <ul>
                                <li>English@@@Lituania international@Lituania_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('lussemburgo international')">Lussemburgo international</a></span></li>
                            <ul>
                                <li>English@@@Lussemburgo international@Lussemburgo_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('norvegia international')">Norvegia international</a></span></li>
                            <ul>
                                <li>English@@@Norvegia international@Norvegia_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('olanda international')">Olanda international</a></span></li>
                            <ul>
                                <li>English@@@Olanda international@Olanda_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('polonia international')">Polonia international</a></span></li>
                            <ul>
                                <li>English@@@Polonia international@Polonia_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('portogallo international')">Portogallo international</a></span></li>
                            <ul>
                                <li>English@@@Portogallo international@Portogallo_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('repubblica ceca international')">Repubblica Ceca international</a></span></li>
                            <ul>
                                <li>English@@@Repubblica Ceca international@Repubblica Ceca_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('romania international')">Romania international</a></span></li>
                            <ul>
                                <li>English@@@Romania international@Romania_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('russia')">Russia</a></span></li>
                            <ul>
                                <li>English@@@Russia@Russia_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('slovacchia international')">Slovacchia international</a></span></li>
                            <ul>
                                <li>English@@@Slovacchia international@Slovacchia_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('slovenia international')">Slovenia international</a></span></li>
                            <ul>
                                <li>English@@@Slovenia international@Slovenia_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('spagna')">Spagna</a></span></li>
                            <ul>
                                <li>English@@@Spagna@Spagna_Margiela-based privacy notice-final-marketing_consent.html</li>
                                <li>English@@@Spagna tradotta_ES_CAT_final@Spagna_Margiela-based privacy notice-final_CAT_DEF-marketing_consent.html</li>
                                <li>SPANISH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('svezia international')">Svezia international</a></span></li>
                            <ul>
                                <li>English@@@Svezia international@Svezia_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('svizzera international')">Svizzera international</a></span></li>
                            <ul>
                                <li>English@@@Svizzera international@Svizzera_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk')">UK</a></span></li>
                            <ul>
                                <li>English@@@UK@UK_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('ungheria international')">Ungheria international</a></span></li>
                            <ul>
                                <li>English@@@Ungheria international@Ungheria_Margiela-based privacy notice-final-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa')">USA</a></span></li>
                            <ul>
                                <li>English@@@USA@DIGITAL_CONSENT_Margiela_USA_final-marketing_consent.html</li>
                                <li>English@@@USA@Margiela-based privacy notice-USA_final-marketing_consent.html</li>
                            </ul>
                    </ul>
                </div>
