                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('austria_2_20m')">AUSTRIA</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@AUSTRIA@Marni_AUSTRIA_GERMAN-Marni_AUSTRIA_GERMAN-Informativa International_MARNI MOON_Clean 20.09.2021_DE-marketing_consent.html</li>
                                <li>UNKNOWN@@@AUSTRIA@Marni_AUSTRIA_UNKNOWN-Marni_AUSTRIA_UNKNOWN-Informativa International_MARNI MOON_EN Clean 20.09.2021-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina_2_20m')">CINA</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                                <li>UNKNOWN@@@CINA@Marni_CINA_UNKNOWN-Marni_CINA_UNKNOWN-Cina_Marni-based privacy notice_EN_20211118 RevFF 17.01.2022 Clean-marketing_consent.html</li>
                                <li>UNKNOWN@@@CINA@Marni_CINA_UNKNOWN-Marni_CINA_UNKNOWN-CONSENT CHINA-Marni_EN_20211118_RevFF 17.01.2022 Clean-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('corea_2_20m')">COREA</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>UNKNOWN@@@COREA@Marni_COREA_UNKNOWN-Marni_COREA_UNKNOWN-Informativa Privacy_Corea_Marni Moon_EN_Clean-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia_2_20m')">FRANCIA</a></span></li>
                            <ul>
                                <li>FRENCH</li>
                                <li>UNKNOWN@@@FRANCIA@Marni_FRANCIA_UNKNOWN-Marni_FRANCIA_UNKNOWN-Informativa privacy_Francia_Marni Moon_EN_Clean-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania_2_20m')">GERMANIA</a></span></li>
                            <ul>
                                <li>GERMAN</li>
                                <li>UNKNOWN@@@GERMANIA@Marni_GERMANIA_UNKNOWN-Marni_GERMANIA_UNKNOWN-Informativa Privacy_Germania_Marni Moon_ EN_ Clean-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('giappone_2_20m')">GIAPPONE</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@GIAPPONE@Marni_GIAPPONE_UNKNOWN-Marni_GIAPPONE_UNKNOWN-Informativa Privacy_Giappone_Marni Moon_EN_Clean-marketing_consent.html</li>
                                <li>UNKNOWN@@@GIAPPONE@Marni_GIAPPONE_UNKNOWN-Marni_GIAPPONE_UNKNOWN-Marni Moon-JAPAN-consent_form-analogic_Clean-marketing_consent.html</li>
                                <li>UNKNOWN@@@GIAPPONE@Marni_GIAPPONE_UNKNOWN-Marni_GIAPPONE_UNKNOWN-Marni Moon-JAPAN-consent_form-digital_Clean-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('international_2_20m')">INTERNATIONAL</a></span></li>
                            <ul>
                                <li>ITALIAN</li>
                                <li>UNKNOWN@@@INTERNATIONAL@Marni_INTERNATIONAL_UNKNOWN-Marni_INTERNATIONAL_UNKNOWN-Informativa International_MARNI MOON_EN Clean 20.09.2021-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_2_20m')">ITALIA</a></span></li>
                            <ul>
                                <li>ITALIAN</li>
                                <li>UNKNOWN@@@ITALIA@Marni_ITALIA_UNKNOWN-Marni_ITALIA_UNKNOWN-Informativa privacy_Italia_Marni Moon_EN_Clean 21.09.2021-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('spagna_2_20m')">SPAGNA</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>SPANISH</li>
                                <li>UNKNOWN@@@SPAGNA@Marni_SPAGNA_UNKNOWN-Marni_SPAGNA_UNKNOWN-Informativa Privacy_Spagna_Marni Moon_EN_Clean-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk_2_20m')">UK</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@UK@Marni_UK_UNKNOWN-Marni_UK_UNKNOWN-Informativa Privacy_UK_Marni Moon_EN_Clean_21.09.2021-marketing_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa_2_20m')">USA</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@USA@Marni_USA_UNKNOWN-Marni_USA_UNKNOWN-ANALOGIC_CONSENT_Marni USA_Clean 21.09.2021-marketing_consent.html</li>
                                <li>UNKNOWN@@@USA@Marni_USA_UNKNOWN-Marni_USA_UNKNOWN-DIGITAL_CONSENT_Marni USA_Clean 21.09.2021-marketing_consent.html</li>
                                <li>UNKNOWN@@@USA@Marni_USA_UNKNOWN-Marni_USA_UNKNOWN-Informativa Privacy_USA_Marni Moon_EN_Clean 21.09.2021-marketing_consent.html</li>
                                <li>UNKNOWN@@@USA@Marni_USA_UNKNOWN-Marni_USA_UNKNOWN-Marni Text Club TCs incl Social Media - 01-2-22-marketing_consent.html</li>
                            </ul>
                    </ul>
                </div>
