                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia')">Francia</a></span></li>
                            <ul>
                                <li>English@@@Francia@Francia_STAFF_Disquared privacy notice + consent form-FINAL-marketing_consent.html</li>
                                <li>English@@@Francia@Francia_STAFF_Disquared privacy notice + consent form-FINAL.html</li>
                                <li>FRENCH</li>
                                <li>FRENCH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia')">Italia</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@Italia@iTALIA-Dsquared2_privacy Policy-marketing_consent.html</li>
                                <li>UNKNOWN@@@Italia@iTALIA-Dsquared2_privacy Policy.html</li>
                                <li>UNKNOWN@@@Italia@ITALIA-Dsquared_ consensi-marketing_consent.html</li>
                                <li>UNKNOWN@@@Italia@ITALIA-Dsquared_ consensi.html</li>
                            </ul>
                    </ul>
                </div>
