<div style="visibility: hidden">
<div class="md-dialog-container" id="privacyPolicyDialog_2_20">
    <md-dialog>
        <md-dialog-actions>
            <md-button ng-click="vm.closePrivacyDialog()" class="md-icon-button" aria-label="Close">
                <md-icon md-font-icon="icon icon-close"></md-icon>
            </md-button>
        </md-dialog-actions>
        <md-dialog-content class="content-wrapper" ng-if="vm.isPrivacyShowed">
            <!-- START - Contentuo compiato dal sito Diesl -->
            <div layout="row">
                <div class="title" layout-fill layout-align="center center">
                    <h2 class="uppercase">PRIVACY POLICY</h2>
                </div>
            </div>
                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia')">Italia</a></span></li>
                    </ul>
                </div>
                <div class="wrapper-double-block">
                    <div class="container-bodycopy">
                        <div class="space" style="padding-top: 50px;"></div><br>
                        <h2 id="italia_2_20_m">ITALIA</h2>
                        <h3>ENGLISH@@@JC_ITA_eng@JustCavalli_JC_ITA_eng_ENGLISH-Just Cavalli_ Privacy Policy_Final_ENG_19.02.21-marketing_consent.html</h3>
ï»¿@@@CHECKC:\Users\Chander\Documents\DRT Traduzioni\DRT_Traduzioni_ConsentDocToHtml\JustCavalli\Italia\JC_ITA_eng\JustCavalli_JC_ITA_eng_ENGLISH-Just Cavalli_ Privacy Policy_Final_ENG_19.02.21.docx


                        <h3>UNKNOWN@@@JC_ITA_eng@JustCavalli_JC_ITA_eng_UNKNOWN-Just Cavalli_Consent_ENG_19.02.21-marketing_consent.html</h3>
ï»¿@@@CHECKC:\Users\Chander\Documents\DRT Traduzioni\DRT_Traduzioni_ConsentDocToHtml\JustCavalli\Italia\JC_ITA_eng\JustCavalli_JC_ITA_eng_UNKNOWN-Just Cavalli_Consent_ENG_19.02.21.docx





                    </div>
                </div>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>
