<div style="visibility: visible">
    <div class="md-dialog-container" id="privacyPolicyDialog_2_20">
        <md-dialog>
            <md-dialog-actions>
                <md-button ng-click="vm.closePrivacyDialog()" class="md-icon-button" aria-label="Close">
                    <md-icon md-font-icon="icon icon-close"></md-icon>
                </md-button>
            </md-dialog-actions>
            <md-dialog-content class="content-wrapper" ng-if="vm.isPrivacyShowed">
                <!-- START - Contentuo compiato dal sito Diesl -->
                <div layout="row">
                    <div class="title" layout-fill layout-align="center center">
                        <h2 class="uppercase">PRIVACY POLICY</h2>
                    </div>
                </div>
                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('austria')">Austria</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                    </ul>
                </div>
                <div class="wrapper-double-block">
                    <div class="container-bodycopy">
                        <div class="space" style="padding-top: 50px;"></div><br>
                        <h2 id="austria">AUSTRIA</h2>
                        <h3>ENGLISH</h3>
                            <h2>CONSENT FORM FOR DIESEL S.P.A. (DIGITAL VERSION)</h2>
                                <p>Having read the information notice, I authorize Diesel S.p.A. to the processing of my personal data for <button onclick="myFunction()" id="marketingBtn">Marketing*</button>purposes as described in paragraph 3.1.d) of the information notice:</p>
                                <input type="radio" id="yes" name="marketingConsent" value="yes">
                                <label for="yes">Yes</label> 
                                <input type="radio" id="no" name="marketingConsent" value="no">
                                <label for="no">No</label><br>     
                                <span id="hiddenText">Diesel S.p.A. will be able to process Biographical Data and Contact and Purchase Data for advertising activities on the social networks to which I am subscribed or sending advertising or direct sales material, carrying out market research, sending commercial promotions and discounts reserved to customers, commercial information - possibly also customized - with automated contact methods (e-mail, newsletters, SMS, MMS, messaging platforms, etc.) and traditional contact methods (mail). We remind you that by joining the D: CODE, if you do not give the marketing consent, you will not receive any promotional communications but you will receive service communications concerning benefits to which you are entitled due to your registration to the Loyalty Program .</span>    
                    </div>
                </div>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>
        




