<div style="visibility: hidden">
	<div class="md-dialog-container" id="privacyPolicyDialog_4_40_p">
		<md-dialog>
			<md-dialog-actions>
				<md-button ng-click="vm.closePrivacyDialog()" class="md-icon-button" aria-label="Close">
					<md-icon md-font-icon="icon icon-close"></md-icon>
				</md-button>
			</md-dialog-actions>
			<md-dialog-content class="content-wrapper" ng-if="vm.isPrivacyShowed">
				<!-- START - Contentuo compiato dal sito Diesl -->
				<div layout="row">
					<div class="title" layout-fill layout-align="center center">
						<h2 class="uppercase">PRIVACY POLICY</h2>
					</div>
				</div>
				<div class="container-bodycopy">
					<ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina_4_40_p')">Cina</a></span></li>
							<ul>
								<li>English</li>
								<li>Chinese</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia_4_40_p')">Francia</a></span></li>
							<ul>
								<li>English</li>
								<li>French</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania_4_40_p')">Germania</a></span></li>
							<ul>
								<li>English</li>
								<li>German</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('giappone_4_40_p')">Giappone</a></span></li>
							<ul>
								<li>English</li>
								<li>Japanese</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('hk_4_40_p')">HK</a></span></li>
							<ul>
								<li>English</li>
								<li>Chinese</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_4_40_p')">Italia</a></span></li>
							<ul>
								<li>Italian</li>
								<li>English</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('spagna_4_40_p')">Spagna</a></span></li>
							<ul>
								<li>English</li>
								<li>SPANISH</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk_4_40_p')">UK</a></span></li>
							<ul>
								<li>English</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa_4_40_p')">USA</a></span></li>
							<ul>
								<li>English</li>
							</ul>
					</ul>
				</div>
	
					<div class="wrapper-double-block">
						<div class="container-bodycopy">
							<div class="space" style="padding-top: 50px;"></div><br>
							<h2 id="cina_4_40_p">CINA</h2>
							<h3>ENGLISH</h3>
	
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences.</p>
	
							<h3>ENGLISH</h3>
	
								<p>联合控制者将有权处理您的身份信息、联系数据、销售数据、店内收集的数据、购买数据和浏览数据，用于分析您的购买偏好。这一处理的目的是为分析了解或预测您的购买偏好，以便进行客户资料的搜集，并提供定制化的商业服务，使其更符合您的偏好。</p>
	
	
	
							<h2 id="francia_4_40_p">FRANCIA</h2>
							<h3>ENGLISH</h3>
	
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences.</p>
	
							<h3>FRENCH</h3>
	
								<p>les Responsables conjoints du traitement pourront traiter les Données biographiques, les Coordonnées, les Données de vente, les Données collectées en boutique, les Données d'achat et les Données de navigation à des fins de profilage ou pour l'analyse de vos préférences d'achat consistant en un traitement automatisé des données susmentionnées. Ce traitement vise à connaître ou à prévoir de façon analytique vos préférences d'achat, également pour créer des profils clients et pour personnaliser l'offre commerciale afin qu'elle corresponde davantage à vos préférences.</p>
	
	
							<h2 id="germania_4_40_p">GERMANIA</h2>
							<h3>ENGLISH</h3>
	
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences.</p>
	
							<h3>GERMAN</h3>
	
								<p>Die gemeinsam Verantwortlichen können die Angaben zur Person, Kontaktdaten, Verkaufsdaten, in Ladengeschäften erfasste Daten, Kaufdaten und Navigationsdaten für Profilerstellungszwecke oder der Analyse Ihrer Kaufpräferenzen verarbeiten, bestehend in der automatisierten Verarbeitung oben genannter Daten. Diese Verarbeitung zielt darauf ab, Ihre Kaufpräferenzen auszuwerten und vorwegzunehmen, und zwar auch um Kundenprofile zu erstellen und das kommerzielle Angebot möglichst an Ihre Präferenzen anzupassen.</p>
	
	
	
							<h2 id="giappone_4_40_p">GIAPPONE</h2>
							<h3>ENGLISH</h3>
	
								<p>the Joint Data Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customer profiles and customize the commercial offer so that it is more in line with your preferences.</p>
	
	
							<h3>JAPANESE</h3>
	
								<p>共同データ管理者は、基本データ、連絡先データ、販売データ、ストアで収集されるデータ、購入データ、閲覧データを、プロファイリング目的または上述のデータの自動処理による購入傾向の分析の目的で処理することができます。この処理は、顧客プロファイルを作成し、お客様の嗜好に沿ったご案内を行うためにも、購入傾向の理解と予測を分析することを目的としています。</p>
	
	
							<h2 id="hk_4_40_p">HK</h2>
							<h3>ENGLISH</h3>
	
								<p>Transfer out of my country of residence:
								(iii)	My Personal Data may be transferred outside of my country of residence for the Purposes stated in the respective Privacy Policies,  subject to my consent below. I understand I can opt-out, free of charge, of receiving direct marketing communications, or request for access to and correction/deletion of my Personal Data at any time by clicking the “unsubscribe” link or by contacting Joyce and/or Marni at: dataprivacy@joyce.com for Joyce or privacy@marni.com  for Marni; or 26/F One Island South, 2 Heung Yip Road, Wong Chuk Hang, Hong Kong for Joyce or Via Sismondi 70 20133 Milano Italy for Marni</p>
	
	
							<h3>CHINESE</h3>
								<p>從本人居住的國家轉出
									僅在經我同意及遵守各自隱私政策的前提下，我的個人資料才可被從本人居住的國家轉出。
									我理解，我可通過點擊“取消訂閱”連結或聯繫Joyce和/或Marni，隨時免費地退出接受直銷資訊，或請求訪問和更正/刪除我的個人資料。我可以通過如下方式執行前述選擇：發送郵件至dataprivacy@joyce.com及privacy@marni.com；或寫信至如下地址：
									Joyce: 26/F One Island South, 2 Heung Yip Road, Wong Chuk Hang, Hong Kong
									Marni: Sismondi 70 20133 Milano Italy for Marni.
									我瞭解我需要同時向全部的資料控制者發出前述取消訂閱/請求。
									</p>
	
	
							<h2 id="italia_4_40_p">ITALIA</h2>
							<h3>ITALIAN</h3>
	
								<p>i Contitolari potranno trattare i Dati Anagrafici, i Dati di Contatto, i Dati Vendita, i Dati raccolti in negozio, i Dati di Acquisto e i Dati di Navigazione per finalità di profilazione, ovvero per analisi sulle sue scelte di consumo consistenti in elaborazioni automatizzate dei suddetti dati. Tale trattamento è finalizzato a conoscere in modo analitico o a prevedere le sue preferenze di acquisto anche al fine di creare profili dei clienti, così da personalizzare l'offerta commerciale affinché sia più in linea con le sue preferenze. </p>
	
							<h3>ENGLISH</h3>
	
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences </p>
	
							<h2 id="spagna_4_40_p">SPAGNA</h2>
							<h3>ENGLISH</h3>
	
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences.</p>
	
	
							<h3>SPANISH</h3>
	
								<p>los Corresponsables del Tratamiento podrán procesar los Datos Biográficos, los Datos de Contacto, los Datos de Venta, los Datos recogidos en la tienda, los Datos de Compra y los Datos de Navegación con fines de elaboración de perfiles, o para el análisis de sus preferencias de compra consistentes en el tratamiento automatizado de los datos mencionados anteriormente. Este tratamiento tiene por objeto conocer o predecir analíticamente sus preferencias de compra también para crear perfiles de clientes y personalizar la oferta comercial de manera que se ajuste más a sus preferencias.</p>
	
	
	
							<h2 id="uk_4_40_p">UK</h2>
							<h3>ENGLISH</h3>
	
								<p>the Joint Data Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences.</p>
	
	
	
							<h2 id="usa_4_40_p">USA</h2>
							<h3>ENGLISH</h3>
	
								<p>the Joint Data Controllers will be able to process the Biographical Data, the Contact Data, the Commercial Information/Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences.</p>
	
						</div>
					</div>
				</md-dialog-content>
			</md-dialog>
		</div>
	</div>
	