<div style="visibility: hidden">
	<div class="md-dialog-container" id="privacyPolicyDialog_1_60_p">
		<md-dialog>
			<md-dialog-actions>
				<md-button ng-click="vm.closePrivacyDialog()" class="md-icon-button" aria-label="Close">
					<md-icon md-font-icon="icon icon-close"></md-icon>
				</md-button>
			</md-dialog-actions>
			<md-dialog-content class="content-wrapper" ng-if="vm.isPrivacyShowed">
				<!-- START - Contentuo compiato dal sito Diesl -->
				<div layout="row">
					<div class="title" layout-fill layout-align="center center">
						<h2 class="uppercase">PRIVACY POLICY</h2>
					</div>
				</div>
				<div class="container-bodycopy">
					<ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('france_1_60_p')">FRANCE</a></span></li>
							<ul>
								<li>French</li>
								<li>English</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italy_1_60_p')">ITALY</a></span></li>
							<ul>
								<li>Italian</li>
								<li>English</li>
							</ul>
					</ul>
				</div>
	
					<div class="wrapper-double-block">
						<div class="container-bodycopy">
							<div class="space" style="padding-top: 50px;"></div><br>
							<h2 id="france_1_60_p">FRANCE</h2>
							<h3>FRENCH</h3>
	
								<p>les Responsables conjoints du traitement pourront traiter les Données biographiques, les Coordonnées, les Données de vente, les Données collectées en boutique et les Données d'achat à des fins de profilage ou pour l'analyse de vos préférences d'achat consistant en un traitement automatisé des données susmentionnées. Ce traitement vise à connaître ou à prévoir de façon analytique vos préférences d'achat, également pour créer des profils clients et pour personnaliser l'offre commerciale afin qu'elle corresponde davantage à vos préférences.Vous pouvez à tout moment retirer votre consentement à être soumis au profilage en écrivant à l'adresse customer_privacy@staffinternational.com, privacy@otb.net ou en contactant les Responsables conjoints du traitement aux adresses indiquées dans le paragraphe 1 de la note d'information.</p>
	
	
							<h3>ENGLISH</h3>
	
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop and the Purchase Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences.You can at any time withdraw your consent to be subject to profiling by writing to the address customer_privacy@staffinternational.com, privacy@otb.net or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>
	
	
	
	
	
							<h2 id="italy_1_60_p">ITALY</h2>
							<h3>ITALIAN</h3>
								<p>i Contitolari potranno trattare i Dati Anagrafici, i Dati di Contatto, i Dati Vendita, i Dati di acquisto, i Dati raccolti in negozio per finalità di profilazione, ovvero per analisi sulle sue scelte di consumo consistenti in elaborazioni automatizzate dei suddetti dati. Tale trattamento è finalizzato a conoscere in modo analitico o a prevedere le sue preferenze di acquisto anche al fine di creare profili dei clienti, così da personalizzare l’offerta commerciale affinché sia più in linea con le sue preferenze. Lei potrà in ogni momento revocare il suo consenso alla profilazione scrivendo all’indirizzo customer_privacy@staffinternational.com, o altrimenti contattando la società ai recapiti indicati al paragrafo 1 dell’informativa privacy.</p>
	
							<h3>ENGLISH</h3>
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop and the Purchase Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned Data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address customer_privacy@staffinternational.com, privacy@otb.net or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>
						</div>
					</div>
				</md-dialog-content>
			</md-dialog>
		</div>
	</div>
	