<div style="visibility: hidden">
	<div class="md-dialog-container" id="privacyPolicyDialog_6_90_p">
		<md-dialog>
			<md-dialog-actions>
				<md-button ng-click="vm.closePrivacyDialog()" class="md-icon-button" aria-label="Close">
					<md-icon md-font-icon="icon icon-close"></md-icon>
				</md-button>
			</md-dialog-actions>
			<md-dialog-content class="content-wrapper" ng-if="vm.isPrivacyShowed">
				<!-- START - Contentuo compiato dal sito Diesl -->
				<div layout="row">
					<div class="title" layout-fill layout-align="center center">
						<h2 class="uppercase">PRIVACY POLICY</h2>
					</div>
				</div>
                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('australia_6_90_p')">AUSTRALIA</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('canada_6_90_p')">CANADA</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina_6_90_p')">CINA</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>Chinese</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('corea_6_90_p')">COREA</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>Korean</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia_6_90_p')">FRANCIA</a></span></li>
                            <ul>
                                <li>French</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania_6_90_p')">GERMANIA</a></span></li>
                            <ul>
                                <li>German</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('giappone_6_90_p')">GIAPPONE</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>Japanese</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('hong kong_6_90_p')">HONG KONG</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('international_6_90_p')">INTERNATIONAL</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_6_90_p')">ITALIA</a></span></li>
                            <ul>
                                <li>Italian</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('svizzera_6_90_p')">SVIZZERA</a></span></li>
                            <ul>
                                <li>French</li>
                                <li>German</li>
                                <li>Italian</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk_6_90_p')">UK</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa_6_90_p')">USA</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                    </ul>
                </div>
                <div class="wrapper-double-block">
                    <div class="container-bodycopy">
                        <div class="space" style="padding-top: 50px;"></div><br>
                        <h2 id="australia_6_90_p">AUSTRALIA</h2>
                        <h3>ENGLISH</h3>

                            <p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Purchase Data, Tracking of Newsletter and Actions Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@jilsander.com, or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>


                        <h2 id="canada_6_90_p">CANADA</h2>
                        <h3>ENGLISH</h3>

                            <p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Purchase Data, Tracking of Newsletter and Actions Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@jilsander.com, or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>





                        <h2 id="cina_6_90_p">CINA</h2>
                        <h3>CHINESE</h3>

                            <p>共同处理者将有权处理您的身份信息、联系数据、账号信息、销售数据、店内收集的数据、购买数据和浏览数据，用于分析您的购买偏好。这一处理的目的是为分析了解或预测您的购买偏好，以便进行客户资料的搜集，并提供定制化的商业服务，使其更符合您的偏好。</p>
  

                        <h3>ENGLISH</h3>

                            <p>the Joint Processors will be able to process the Biographical Data, the Contact Data, the Account Information, the Sales Data, the Data collected in the shop, the Purchase Data, Tracking of Newsletters Data and Actions Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences.You can at any time withdraw your consent to be subject to profiling by writing to the addresses privacy@jilsander.com, privacy@otb.net or otherwise contacting the Joint Processors at the addresses indicated at paragraph 1 of the information notice.</p>
                            





                        <h2 id="corea_6_90_p">COREA</h2>
                        <h3>ENGLISH</h3>

                            <p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Purchase Data, Tracking of Newsletter and Actions Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. These data will be stored for 7 years since collection. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@jilsander.com, or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>

                        <h3>KOREAN</h3>

                            <p><strong>공동 관리자(디지털 형식)에 대한 동의서</strong></strong></strong>본인은 정보 고지를 읽은 후, 공동 관리자 OTB S.p.A. 및 Jil Sander S.p.A.이 <strong>고객 </strong>분석의 목적으로 개인 데이터를 처리하여 <strong>선호 사항에 일치하는 경험을 </strong>제공하도록 승인합니다. 이는 공동 관리자가 정보 수집 목적 또는 위에서 언급한 데이터의 자동화된 처리로 구성된 구매 선호 사항 분석을 위해 신상 데이터, 연락 데이터, 판매 데이터, 구매 데이터, 뉴스레터 및 작업 데이터 추적, 탐색 데이터를 처리할 수 있음을 의미합니다. 이 처리는 고객 프로필을 만들고 상업적 제안을 맞춤화하여 귀하의 선호 사항에 더욱 부합되도록 귀하의 구매 선호 사항을 분석적으로 파악하거나 예측하는 것을 목표로 합니다. 이러한 데이터는 수집 후에 7년 동안 저장됩니다. 귀하는 privacy@jilsander.com으로 이메일을 보내거나 정보 고지 제1항에 명시된 주소로 공동 관리자에게 연락하여 정보 수집 대상에 대한 동의를 언제든지 철회할 수 있습니다.</p>


                        <h2 id="francia_6_90_p">FRANCIA</h2>
                        <h3>FRENCH</h3>

                            <p>les Responsables conjoints du traitement pourront traiter les Données biographiques, les Coordonnées, les Données de vente, les Données collectées en boutique, les Données d'achat, les Données de suivi des bulletins d'information, les Données d'actions et les Données de navigation à des fins de profilage ou pour l'analyse de vos préférences d'achat consistant en un traitement automatisé des données susmentionnées. Ce traitement vise à connaître ou à prévoir de façon analytique vos préférences d'achat, également pour créer des profils clients et pour personnaliser l'offre commerciale afin qu'elle corresponde davantage à vos préférences.Vous pouvez à tout moment retirer votre consentement à être soumis au profilage en écrivant à l'adresse privacy@jilsander.com ou en contactant les Responsables conjoints du traitement aux adresses indiquées dans le paragraphe 1 de la note d'information.</p>
                            


                        <h3>ENGLISH</h3>

                            <p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data, Tracking of Newsletter and Actions Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@jilsander.com, or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>





                        <h2 id="germania_6_90_p">GERMANIA</h2>
                        <h3>GERMAN</h3>

                            <p>Die gemeinsam Verantwortlichen können die Angaben zur Person, Kontaktdaten, Verkaufsdaten, in Ladengeschäften erfasste Daten, Kaufdaten, Tracking von Newsletter- und Aktionsdaten sowie Navigationsdaten zu Zwecken der Profilerstellung oder der Analyse Ihrer Kaufpräferenzen verarbeiten, bestehend in der automatisierten Verarbeitung oben genannter Daten. Diese Verarbeitung zielt darauf ab, Ihre Kaufpräferenzen auszuwerten und vorwegzunehmen, und zwar auch um Kundenprofile zu erstellen und das kommerzielle Angebot möglichst an Ihre Präferenzen anzupassen.Sie können Ihre Einwilligung in die Verarbeitung zu Profilingzwecken jederzeit widerrufen, indem Sie sich schriftlich an die E-Mail-Adressen privacy@jilsander.com oder privacy@otb.net oder an die Postanschriften der gemeinsam Verantwortlichen, die unter Punkt 1 der Datenschutzerklärung angegeben sind, wenden.</p>


                        <h3>ENGLISH</h3>

                            <p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data, Tracking of Newsletter and Actions Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@jilsander.com, or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>





                        <h2 id="giappone_6_90_p">GIAPPONE</h2>
                        <h3>ENGLISH</h3>

                            <p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data, Tracking of Newsletter and Actions Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@jilsander.com, or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>


                        <h3>JAPANESE</h3>

                            <p>共同データ管理者は、基本データ、連絡先データ、販売データ、ストアで収集されるデータ、購入データ、ニュースレターとアクションデータの追跡、閲覧データを、プロファイリング目的または上述のデータの自動処理による購入傾向の分析の目的で処理することができます。この処理は、顧客プロファイルを作成し、お客様の嗜好に沿ったご案内を行うためにも、購入傾向の理解と予測を分析することを目的としています。プロファイリングへの同意は、privacy@jilsander.com宛のEメール、または別紙のプライバシーポリシーの段落１に記載されている共同管理者にご連絡いただくことにより、いつでも取り消しすることができます。</p>


                        <h2 id="hong kong_6_90_p">HONG KONG</h2>
                        <h3>ENGLISH</h3>

                            <p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Purchase Data, Tracking of Newsletter and Actions Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@jilsander.com, or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>





                        <h2 id="international_6_90_p">INTERNATIONAL</h2>
                        <h3>ENGLISH</h3>

                            <p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Purchase Data, Tracking of Newsletter and Actions Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@jilsander.com, or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>
                            





                        <h2 id="italia_6_90_p">ITALIA</h2>
                        <h3>ITALIAN</h3>

                            <p>i Contitolari potranno trattare i Dati Anagrafici, i Dati di Contatto, i Dati Vendita, i Dati raccolti in negozio, i Dati di Acquisto, Monitoraggio di Newsletter e Dati di Azioni e i Dati di Navigazione per finalità di profilazione, ovvero per analisi sulle Sue scelte di consumo consistenti in elaborazioni automatizzate dei suddetti dati. Tale trattamento è finalizzato a conoscere in modo analitico o a prevedere le Sue preferenze di acquisto anche al fine di creare profili dei clienti, così da personalizzare l'offerta commerciale affinché sia più in linea con le Sue preferenze. Lei potrà in ogni momento revocare il Suo consenso ad essere soggetto a profilazione scrivendo all'indirizzo privacy@jilsander.com, o altrimenti contattando i Contitolari ai recapiti indicati al paragrafo 1.</p>


                        <h3>ENGLISH</h3>

                            <p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data, Tracking of Newsletter and Actions Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@jilsander.com, or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>





                        <h2 id="svizzera_6_90_p">SVIZZERA</h2>
                        <h3>FRENCH</h3>

                            <p>les Responsables conjoints du traitement pourront traiter les Données biographiques, les Coordonnées, les Données de vente, les Données collectées en boutique, les Données d'achat, les Données de suivi des bulletins d'information, les Données d'actions et les Données de navigation à des fins de profilage ou pour l'analyse de vos préférences d'achat consistant en un traitement automatisé des données susmentionnées. Ce traitement vise à connaître ou à prévoir de façon analytique vos préférences d'achat, également pour créer des profils clients et pour personnaliser l'offre commerciale afin qu'elle corresponde davantage à vos préférences.Vous pouvez à tout moment retirer votre consentement à être soumis au profilage en écrivant à l'adresse privacy@jilsander.com ou en contactant les Responsables conjoints du traitement aux adresses indiquées dans le paragraphe 1 de la note d'information.</p>
                            


                        <h3>GERMAN</h3>

                            <p>Die gemeinsam Verantwortlichen können die Angaben zur Person, Kontaktdaten, Verkaufsdaten, in Ladengeschäften erfasste Daten, Kaufdaten, Tracking von Newsletter- und Aktionsdaten sowie Navigationsdaten zu Zwecken der Profilerstellung oder der Analyse Ihrer Kaufpräferenzen verarbeiten, bestehend in der automatisierten Verarbeitung oben genannter Daten. Diese Verarbeitung zielt darauf ab, Ihre Kaufpräferenzen auszuwerten und vorwegzunehmen, und zwar auch um Kundenprofile zu erstellen und das kommerzielle Angebot möglichst an Ihre Präferenzen anzupassen.Sie können Ihre Einwilligung in die Verarbeitung zu Profilingzwecken jederzeit widerrufen, indem Sie sich schriftlich an die E-Mail-Adressen privacy@jilsander.com oder privacy@otb.net oder an die Postanschriften der gemeinsam Verantwortlichen, die unter Punkt 1 der Datenschutzerklärung angegeben sind, wenden.</p>


                        <h3>ITALIAN</h3>

                            <p>i Contitolari potranno trattare i Dati Anagrafici, i Dati di Contatto, i Dati Vendita, i Dati raccolti in negozio, i Dati di Acquisto, Monitoraggio di Newsletter e Dati di Azioni e i Dati di Navigazione per finalità di profilazione, ovvero per analisi sulle Sue scelte di consumo consistenti in elaborazioni automatizzate dei suddetti dati. Tale trattamento è finalizzato a conoscere in modo analitico o a prevedere le Sue preferenze di acquisto anche al fine di creare profili dei clienti, così da personalizzare l'offerta commerciale affinché sia più in linea con le Sue preferenze. Lei potrà in ogni momento revocare il Suo consenso ad essere soggetto a profilazione scrivendo all'indirizzo privacy@jilsander.com, o altrimenti contattando i Contitolari ai recapiti indicati al paragrafo 1.</p>


                        <h3>ENGLISH</h3>

                            <p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data, Tracking of Newsletter and Actions Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@jilsander.com, or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>



                        <h2 id="uk_6_90_p">UK</h2>
                        <h3>ENGLISH</h3>

                            <p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data, Tracking of Newsletter and Actions Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@jilsander.com, or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>


                        <h2 id="usa_6_90_p">USA</h2>
                        <h3>ENGLISH</h3>

                            <p>the Joint Data Controllers will be able to process the identifiers, biographical data, contact data, sales data,  data collected in the shop, purchase data and the navigation data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences.</p>

                    </div>
                </div>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>
