<div style="visibility: hidden">
	<div class="md-dialog-container" id="privacyPolicyDialog_5_80_p">
		<md-dialog>
			<md-dialog-actions>
				<md-button ng-click="vm.closePrivacyDialog()" class="md-icon-button" aria-label="Close">
					<md-icon md-font-icon="icon icon-close"></md-icon>
				</md-button>
			</md-dialog-actions>
			<md-dialog-content class="content-wrapper" ng-if="vm.isPrivacyShowed">
				<!-- START - Contentuo compiato dal sito Diesl -->
				<div layout="row">
					<div class="title" layout-fill layout-align="center center">
						<h2 class="uppercase">PRIVACY POLICY</h2>
					</div>
				</div>
				<div class="container-bodycopy">
					<ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina_5_80_p')">Cina</a></span></li>
							<ul>
								<li>English</li>
								<li>Chinese</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia_5_80_p')">Francia</a></span></li>
							<ul>
								<li>English</li>
								<li>French</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania_5_80_p')">Germania</a></span></li>
							<ul>
								<li>English</li>
								<li>German</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('giappone_5_80_p')">Giappone</a></span></li>
							<ul>
								<li>English</li>
								<li>Japanese</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('hk_5_80_p')">Hk</a></span></li>
							<ul>
								<li>English</li>
								<li>Chinese</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_5_80_p')">Italia</a></span></li>
							<ul>
								<li>Italian</li>
								<li>English</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('spagna_5_80_p')">Spagna</a></span></li>
							<ul>
								<li>Spanish</li>
								<li>English</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk_5_80_p')">UK</a></span></li>
							<ul>
								<li>English</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa_5_80_p')">USA</a></span></li>
							<ul>
								<li>English</li>
							</ul>
					</ul>
				</div>
					<div class="wrapper-double-block">
						<div class="container-bodycopy">
							<div class="space" style="padding-top: 50px;"></div><br>
							<h2 id="francia_5_80_p">CINA</h2>
							<h3>ENGLISH</h3>
	
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@Margiela.com, privacy@otb.net or otherwise contacting the Joint Controller at the addresses indicated at paragraph 1 of the information notice.</p>
								
							<h3>CHINESE</h3>
	
								<p>粗体文字必须包括弹出式或鼠标悬停机制，可打开以下文字]：联合控制者将有权处理您的身份信息、联系数据、销售数据、店内收集的数据、购买数据和浏览数据，用于分析您的购买偏好。这一处理的目的是为分析了解或预测您的购买偏好，以便进行客户资料的搜集，并提供定制化的商业服务，使其更符合您的偏好。您可以在任何时候通过发送邮件至 privacy@margiela.com  或  privacy@otb.cn 或按信息公告第1段所述地址与联合控制者联系，以撤回您的同意，而无需支付任何费用。</p>
								
							<h2 id="francia_5_80_p">FRANCIA</h2>
							<h3>ENGLISH</h3>
	
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@margiela.com, privacy@otb.net or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>
								
							<h3>FRENCH</h3>
	
								<p>les mots en gras doivent inclure des mécanismes de pop-up ou de passage de souris qui permettent d'ouvrir le texte suivant] : les Responsables conjoints du traitement pourront traiter les Données biographiques, les Coordonnées, les Données de vente, les Données collectées en boutique, les Données d'achat et les Données de navigation à des fins de profilage ou pour l'analyse de vos préférences d'achat consistant en un traitement automatisé des données susmentionnées. Ce traitement vise à connaître ou à prévoir de façon analytique vos préférences d'achat, également pour créer des profils clients et pour personnaliser l'offre commerciale afin qu'elle corresponde davantage à vos préférences. Vous pouvez à tout moment retirer votre consentement à être soumis au profilage en écrivant à l'adresse privacy@margiela.com, privacy@otb.net ou en contactant les Responsables conjoints du traitement aux adresses indiquées dans le paragraphe 1 de la note d'information.</p>
								
	
							<h2 id="germania_5_80_p">GERMANIA</h2>
							<h3>ENGLISH</h3>
	
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@margiela.com, privacy@otb.net or otherwise contacting the Joint Controller at the addresses indicated at paragraph 1 of the information notice.</p>
							   
	
							<h3>GERMAN</h3>
	
								<p>Die gemeinsam Verantwortlichen können die Angaben zur Person, Kontaktdaten, Verkaufsdaten, in Ladengeschäften erfasste Daten, Kaufdaten und Navigationsdaten für Profilerstellungszwecke oder der Analyse Ihrer Kaufpräferenzen verarbeiten, bestehend in der automatisierten Verarbeitung oben genannter Daten. Diese Verarbeitung zielt darauf ab, Ihre Kaufpräferenzen auszuwerten und vorwegzunehmen, und zwar auch um Kundenprofile zu erstellen und das kommerzielle Angebot möglichst an Ihre Präferenzen anzupassen. Sie können Ihre Einwilligung in die Verarbeitung zu Profilingzwecken jederzeit widerrufen, indem Sie sich schriftlich an die E-Mail-Adressen privacy@margiela.com oder privacy@otb.net oder an die Postanschriften der gemeinsam Verantwortlichen, die unter Punkt 1 der Datenschutzerklärung angegeben sind, wenden.</p>
								
	
	
							<h2 id="giappone_5_80_p">GIAPPONE</h2>
							<h3>ENGLISH</h3>
								<p>the Joint Data Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customer profiles and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent for Customer analysis ** by writing to the address privacy@otb.net, or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>
	
	
							<h3>JAPANESE</h3>
	
								<p>共同データ管理者は、基本データ、連絡先データ、販売データ、ストアで収集されるデータ、購入データ、閲覧データを、プロファイリング目的または上述のデータの自動処理による購入傾向の分析の目的で処理することができます。この処理は、顧客プロファイルを作成し、お客様の嗜好に沿ったご案内を行うためにも、購入傾向の理解と予測を分析することを目的としています。プロファイリングへの同意は、privacy@margiela.comもしくはprivacy@otb.net宛のEメール、または別紙のプライバシーポリシー[リンク]の段落１に記載されている共同管理者にご連絡いただくことにより、いつでも取り消すことができます。</p>
	
							<h2 id="hk_5_80_p">HK</h2>
								<h3>ENGLISH</h3>
			
									<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw, free of charge, your consent to be subject to profiling by writing to the address privacy@margiela.com, privacy@otb.net or otherwise contacting the Joint Controller at the addresses indicated at paragraph 1 of the information notice.</p>
			
								<h3>CHINESE</h3>
			
									<p>聯合控制者將有權處理您的身份資訊、聯繫資料、銷售資料、店內收集的資料、購買資料和流覽資料，用於分析您的購買偏好。這一處理的目的是為分析瞭解或預測您的購買偏好，以便進行客戶資料的搜集，並提供定制化的商業服務，使其更符合您的偏好。您可以在任何時候通過發送郵件至 privacy@margiela.com  或  privacy@otb.cn 或按資訊公告第1段所述地址與聯合控制者聯繫，以撤回您的同意，而無需支付任何費用。</p>

							<h2 id="italia_5_80_p">ITALIA</h2>
							<h3>ITALIAN</h3>
	
								<p>i Contitolari potranno trattare i Dati Anagrafici, i Dati di Contatto, i Dati Vendita, i Dati raccolti in negozio, i Dati di Acquisto e i Dati di Navigazione per finalità di profilazione, ovvero per analisi sulle sue scelte di consumo consistenti in elaborazioni automatizzate dei suddetti dati. Tale trattamento è finalizzato a conoscere in modo analitico o a prevedere le sue preferenze di acquisto anche al fine di creare profili dei clienti, così da personalizzare l'offerta commerciale affinché sia più in linea con le sue preferenze. Lei potrà in ogni momento revocare il suo consenso ad essere soggetto a profilazione scrivendo all'indirizzo privacy@margiela.com, o altrimenti contattando i Contitolari ai recapiti indicati al paragrafo 1.</p>
	
							<h3>ENGLISH</h3>
	
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@margiela.com or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>
	
							<h2 id="spagna_5_80_p">SPAGNA</h2>
							<h3>SPANISH</h3>
	
								<p>los Corresponsables del Tratamiento podrán procesar los Datos Biográficos, los Datos de Contacto, los Datos de Venta, los Datos recogidos en la tienda, los Datos de Compra y los Datos de Navegación con fines de elaboración de perfiles, o para el análisis de sus preferencias de compra consistentes en el tratamiento automatizado de los datos mencionados anteriormente. Este tratamiento tiene por objeto conocer o predecir analíticamente sus preferencias de compra también para crear perfiles de clientes y personalizar la oferta comercial de manera que se ajuste más a sus preferencias. Puede retirar en cualquier momento su consentimiento para ser objeto de la elaboración de perfiles escribiendo a la dirección privacy@margiela.com, privacy@otb.net o bien poniéndose en contacto con los Corresponsables del Tratamiento en las direcciones indicadas en el párrafo 1 de la nota informativa.</p>
	
							<h3>ENGLISH</h3>
	
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@margiela.com, privacy@otb.net or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice. </p>
	
		
							<h2 id="uk_5_80_p">UK</h2>
							<h3>ENGLISH</h3>
	
								<p>the Joint Data Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address privacy@margiela.com, privacy@otb.net or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>
	
	
	
							<h2 id="usa_5_80_p">USA</h2>
							<h3>ENGLISH</h3>
	
								<p>I can at any time withdraw my consent to receive the above-mentioned communications by clicking on the appropriate option in each email received, as well as by writing to the address privacy@margiela.com, privacy@otb.net or otherwise contacting the Company at the addresses indicated at paragraph 1 of the Privacy Statement. the Joint Data Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop, the Purchase Data and the Navigation Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences.</p>
	
						</div>
					</div>
				</md-dialog-content>
			</md-dialog>
		</div>
	</div>
	