<div style="visibility: hidden">
	<div class="md-dialog-container" id="privacyPolicyDialog_1_130_p">
		<md-dialog>
			<md-dialog-actions>
				<md-button ng-click="vm.closePrivacyDialog()" class="md-icon-button" aria-label="Close">
					<md-icon md-font-icon="icon icon-close"></md-icon>
				</md-button>
			</md-dialog-actions>
			<md-dialog-content class="content-wrapper" ng-if="vm.isPrivacyShowed">
				<!-- START - Contentuo compiato dal sito Diesl -->
				<div layout="row">
					<div class="title" layout-fill layout-align="center center">
						<h2 class="uppercase">PRIVACY POLICY</h2>
					</div>
				</div>
				<div class="container-bodycopy">
					<ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_1_130_p')">Italia</a></span></li>
							<ul>
								<li>English</li>
							</ul>
					</ul>
				</div>
	
					<div class="wrapper-double-block">
						<div class="container-bodycopy">
							<div class="space" style="padding-top: 50px;"></div><br>
							<h2 id="italia_1_130_p">ITALIA</h2>
							<h3>ENGLISH</h3>
								<p>the Joint Controllers will be able to process the Biographical Data, the Contact Data, the Sales Data, the Data collected in the shop and the Purchase Data for profiling purposes, or for analysis on your purchasing preferences consisting of automated processing of the above mentioned Data. This processing is aimed at analytically knowing or predicting your purchasing preferences also in order to create customers profiles, and customize the commercial offer so that it is more in line with your preferences. You can at any time withdraw your consent to be subject to profiling by writing to the address customer_privacy@staffinternational.com, privacy@otb.net or otherwise contacting the Joint Controllers at the addresses indicated at paragraph 1 of the information notice.</p>
						</div>
					</div>
				</md-dialog-content>
			</md-dialog>
		</div>
	</div>
	