<div style="visibility: hidden">
	<div class="md-dialog-container" id="privacyPolicyDialog_5_80_m">
		<md-dialog>
			<md-dialog-actions>
				<md-button ng-click="vm.closePrivacyDialog()" class="md-icon-button" aria-label="Close">
					<md-icon md-font-icon="icon icon-close"></md-icon>
				</md-button>
			</md-dialog-actions>
			<md-dialog-content class="content-wrapper" ng-if="vm.isPrivacyShowed">
				<!-- START - Contentuo compiato dal sito Diesl -->
				<div layout="row">
					<div class="title" layout-fill layout-align="center center">
						<h2 class="uppercase">PRIVACY POLICY</h2>
					</div>
				</div>
				<div class="container-bodycopy">
					<ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina_5_80_m')">Cina</a></span></li>
							<ul>
								<li>English</li>
								<li>Chinese</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia_5_80_m')">Francia</a></span></li>
							<ul>
								<li>English</li>
								<li>French</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania_5_80_m')">Germania</a></span></li>
							<ul>
								<li>English</li>
								<li>German</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('hk_5_80_m')">Hk</a></span></li>
							<ul>
								<li>English</li>
								<li>Chinese</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_5_80_m')">Italia</a></span></li>
							<ul>
								<li>Italian</li>
								<li>English</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('spagna_5_80_m')">Spagna</a></span></li>
							<ul>
								<li>Spanish</li>
								<li>English</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk_5_80_m')">UK</a></span></li>
							<ul>
								<li>English</li>
							</ul>
						<li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa_5_80_m')">USA</a></span></li>
							<ul>
								<li>English</li>
							</ul>
					</ul>
				</div>
				<div class="wrapper-double-block">
					<div class="container-bodycopy">
						<h2 id="cina_5_80_m">CINA</h2>
						<h3>ENGLISH</h3>
	
							<p>Margiela Sasu.  will be able to process Biographical Data, Contact Data and Purchase Data for advertising activities on the social networks to which I am subscribed or sending advertising or direct sales material, carrying out market research, sending commercial promotions and discounts reserved to customers, commercial information - possibly also customized - with automated contact methods (e-mail, newsletters, SMS, MMS, messaging platforms, etc.) and traditional contact methods (mail).</p>
	
						<h3>CHINESE</h3>
	
							<p>Margiela Sasu可以使用自动联络方式(电子邮件、时事通讯、短信、彩信、信息平台等)和传统的联络方式(纸质邮件)发送本人在社交网站上所订阅的广告活动或发送广告或直销资料、进行市场调查、发送面向客户的促销和折扣信息及其他商业信息(亦适用于定制的内容)。</p>
	
						<h2 id="francia_5_80_m">FRANCIA</h2>
						<h3>ENGLISH</h3>
	
							<p>Margiela S.A.S.U. will be able to process Biographical Data, Contact Data and Purchase Data for advertising activities on the social networks to which I am subscribed or sending advertising or direct sales material, carrying out market research, sending commercial promotions and discounts reserved to customers, commercial information - possibly also customized - with automated contact methods (e-mail, newsletters, SMS, MMS, messaging platforms, etc.) and traditional contact methods (mail).</p>
						<h3>FRENCH</h3>
	
							<p>Margiela S.A.S.U. pourra traiter les Données biographiques, les Coordonnées et les Données d'achat pour des activités publicitaires sur les réseaux sociaux auxquels je suis inscrit(e) ou en envoyant du matériel publicitaire ou de vente directe, en réalisant des études de marché, en envoyant des promotions commerciales et des réductions réservées aux clients, des informations commerciales - également personnalisées si possible - par l'intermédiaire de moyens de communication automatisés (courriels, bulletins d'information, SMS, MMS, plateformes de messagerie, etc.) et de moyens de communication traditionnels (courrier).</p>
						
							
						<h2 id="germania_5_80_m">GERMANIA</h2>
						<h3>ENGLISH</h3>
	
							<p>Margiela S.A.S.U.  will be able to process Biographical Data, Contact Data and Purchase Data for advertising activities on the social networks to which I am subscribed or sending advertising or direct sales material, carrying out market research, sending commercial promotions and discounts reserved to customers, commercial information - possibly also customized - with automated contact methods (e-mail, newsletters, SMS, MMS, messaging platforms, etc.) and traditional contact methods (mail).</p>
	
	
						<h3>GERMAN</h3>
	
							<p>Margiela S.A.S.U. kann meine Angaben zur Person sowie Kontakt- und Kaufdaten für Werbetätigkeiten in sozialen Netzwerken verarbeiten, bei denen ich registriert bin, oder durch automatisierte Kontaktarten (E-Mail, Newsletter, SMS, MMS, Messaging-Plattformen, etc.) und herkömmliche Kontaktarten (Post) Werbe- oder Direktverkaufsmaterial zusenden, Marktforschung durchführen, Werbeaktionen und Kundenrabatte sowie kommerzielle Informationen, auch in personalisierter Form mitteilen.</p>
	
						<h2 id="giappone_5_80_m">GIAPPONE</h2>
						<h3>ENGLISH</h3>
	
							<p>Margiela S.a.s.u. will be able to process Biographical Data and Contact and Sales Data for advertising activities on the social networks to which I am subscribed or sending advertising or direct sales material, carrying out market research, sending commercial promotions and discounts reserved to customers, commercial information - possibly also customized - with automated contact methods (e-mail, newsletters, SMS, MMS, messaging platforms, etc.) and traditional contact methods (mail).</p>
	
						<h3>JAPANESE</h3>
							
							<p>マルジェラ本社は、基本データ、連絡先データおよび購入データを、お客様が登録しているソーシャルネットワークでの広告表示、自動配信方法（Eメール、ニュースレター等）および従来の連絡方法（郵便、お電話）によるご案内、市場調査の実施、プロモーションやセールのご案内、営業情報のご案内（場合によってはカスタマイズされたもの）のために処理することができます。</p>
	
	
						<h2 id="hk_5_80_m">HK</h2>
						<h3>ENGLISH</h3>
	
							<p>Margiela S.a.s.u.  will be able to process Biographical Data, Contact Data and Purchase Data for advertising activities on the social networks to which I am subscribed or sending advertising or direct sales material, carrying out market research, sending commercial promotions and discounts reserved to customers, commercial information - possibly also customized - with automated contact methods (e-mail, newsletters, SMS, MMS, messaging platforms, etc.) and traditional contact methods (mail).</p>
	
						<h3>CHINESE</h3>
	
							<p>Margiela S.a.s.u.可以使用自動聯絡方式(電子郵件、時事通訊、短信、彩信、資訊平臺等)和傳統的聯絡方式(紙質郵件)發送本人在社交網站上所訂閱的廣告活動或發送廣告或直銷資料、進行市場調查、發送面向客戶的促銷和折扣資訊及其他商業資訊(亦適用於定制的內容)。</p>
							
						<h2 id="italia_5_80_m">ITALIA</h2>
						<h3>ITALIAN</h3>
	
							<p>Margiela S.A.S.U. potrà trattare i miei Dati Anagrafici, i Dati di Contatto e i Dati di Acquisto per attività pubblicitaria sui social network al quale sono iscritto o l'invio di materiale pubblicitario o di vendita diretta, il compimento di ricerche di mercato, invio di promozioni commerciali e sconti riservati ai clienti, comunicazione commerciale anche personalizzata con modalità di contatto automatizzate (posta elettronica, newsletter, SMS, MMS, piattaforme di messaggistica on-line, etc.) e tradizionali (posta cartacea).</p>
	
						<h3>ENGLISH</h3>
	
							<p>Margiela S.A.S.U. will be able to process Biographical Data, Contact and Purchase Data for advertising activities on the social networks to which I am subscribed or sending advertising or direct sales material, carrying out market research, sending commercial promotions and discounts reserved to customers, commercial information - possibly also customized - with automated contact methods (e-mail, newsletters, SMS, MMS, messaging platforms, etc.) and traditional contact methods (mail).</p>
							
						<h2 id="spagna_5_80_m">SPAGNA</h2>
						<h3>SPANISH</h3>
	
							<p>Margiela S.A.S.U. podrá tratar los Datos Biográficos, los Datos de Contacto y los Datos de Compra para actividades publicitarias en las redes sociales a las que estoy suscrito o para el envío de material publicitario o de venta directa, así como para la realización de estudios de mercado, el envío de promociones comerciales y descuentos reservados a los clientes, informaciones comerciales (posiblemente también personalizadas) tanto a través de métodos de contacto automatizados (correo electrónico, boletines informativos, SMS, MMS, plataformas de mensajería, etc.) como a través de métodos de contacto tradicionales (correo postal). </p>
	
						<h3>ENGLISH</h3>
	
							<p>Margiela S.A.S.U.  will be able to process Biographical Data, Contact and Purchase Data for advertising activities on the social networks to which I am subscribed or sending advertising or direct sales material, carrying out market research, sending commercial promotions and discounts reserved to customers, commercial information - possibly also customized - with automated contact methods (e-mail, newsletters, SMS, MMS, messaging platforms, etc.) and traditional contact methods (mail). </p>
	
						<h2 id="uk_5_80_m">UK</h2>
						<h3>ENGLISH</h3>
	
							<p>Margiela S.A.S.U. will be able to process Biographical Data, Contact Data and Purchase Data for advertising activities on the social networks to which I am subscribed or sending advertising or direct sales material, carrying out market research, sending commercial promotions and discounts reserved to customers, commercial information - possibly also customized with automated contact methods (e-mail, newsletters, SMS, MMS, messaging platforms, etc.) and traditional contact methods (mail).</p>
	
						<h2 id="usa_5_80_m">USA</h2>
						<h3>ENGLISH</h3>
	
							<p>Margiela S.A.S.U. will be able to process Biographical Data, Contact Data and Commercial Information/Purchase Data for advertising activities on the social networks to which I am subscribed or sending advertising or direct sales material, carrying out market research, sending commercial promotions and discounts reserved to customers, commercial information - possibly also customized - with automated contact methods (email, newsletters, SMS, MMS, messaging platforms, etc.) and traditional contact methods (mail).</p>
					</div>
				</div>
				</md-dialog-content>
			</md-dialog>
		</div>
	</div>
	