                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('austria_2_20_p')">Austria</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>GERMAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('belgio_2_20_p')">Belgio</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                                <li>FRENCH</li>
                                <li>GERMAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('bulgaria international_2_20_p')">Bulgaria International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('canada_2_20_p')">Canada</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>FRENCH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('cina_2_20_p')">Cina</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@Cina@Diesel_Cina_UNKNOWN-Cina_Diesel-based privacy notice_CN_20211118_ZL20220418_Rev.04.2022 Clean-profiling_consent.html</li>
                                <li>UNKNOWN@@@Cina@Diesel_Cina_UNKNOWN-Cina_Diesel-based privacy notice_EN_20211118 RevFF 25.01.2022- Rev.04.22 Clean-profiling_consent.html</li>
                                <li>UNKNOWN@@@Cina@Diesel_Cina_UNKNOWN-CONSENT CHINA-Diesel_CN_20211118_ZL20220418_Rev.04.2022 Clean-profiling_consent.html</li>
                                <li>UNKNOWN@@@Cina@Diesel_Cina_UNKNOWN-CONSENT CHINA_Diesel_EN_20211118_RevFF 25.01.2022 -Rev.04.22 Clean-profiling_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('croazia international_2_20_p')">Croazia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('danimarca_2_20_p')">Danimarca</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('estonia international_2_20_p')">Estonia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('finlandia_2_20_p')">Finlandia</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia_2_20_p')">Francia</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>FRENCH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania_2_20_p')">Germania</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>GERMAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('grecia international_2_20_p')">Grecia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('hong kong_2_20_p')">Hong Kong</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('irlanda_2_20_p')">Irlanda</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_2_20_p')">Italia</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>ITALIAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('latvia international_2_20_p')">Latvia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('lituania international_2_20_p')">Lituania International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('lussemburgo international_2_20_p')">Lussemburgo International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('norvegia_2_20_p')">Norvegia</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('olanda_2_20_p')">Olanda</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('polonia international_2_20_p')">Polonia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('portogallo_2_20_p')">Portogallo</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>PORTUGUESE</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('repubblica ceca international_2_20_p')">Repubblica Ceca International</a></span></li>
                            <ul>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('romania international_2_20_p')">Romania International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('russia international_2_20_p')">Russia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('singapore_2_20_p')">Singapore</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('slovacchia international_2_20_p')">Slovacchia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('slovenia international_2_20_p')">Slovenia International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('spagna_2_20_p')">Spagna</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                                <li>SPANISH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('svezia_2_20_p')">Svezia</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('svizzera_2_20_p')">Svizzera</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>FRENCH</li>
                                <li>GERMAN</li>
                                <li>ITALIAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk_2_20_p')">UK</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('ungheria international_2_20_p')">Ungheria International</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa_2_20_p')">USA</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>UNKNOWN@@@USA@Diesel_USA_UNKNOWN-2022_DIGITAL_CONSENT_ DIESEL_USA-profiling_consent.html</li>
                            </ul>
                    </ul>
                </div>
