                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('france_2_20_p')">FRANCE</a></span></li>
                            <ul>
                                <li>FRENCH</li>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italy_2_20_p')">ITALY</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@ITALY@DSQUARED_ITALY_UNKNOWN-ITALIA-Dsquared2_privacy Policy-profiling_consent.html</li>
                                <li>UNKNOWN@@@ITALY@DSQUARED_ITALY_UNKNOWN-ITALIA-Dsquared_ consensi-profiling_consent.html</li>
                                <li>English</li>
                                <li>English</li>
                            </ul>
                    </ul>
                </div>
