                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia_2_20_p')">Francia</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>FRENCH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania_2_20_p')">Germania</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>GERMAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('giappone_2_20_p')">Giappone</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                                <li>English</li>
                                <li>UNKNOWN@@@Giappone_Tradotta_JP@Margiela_Giappone_Tradotta_JP_UNKNOWN-JP MARGIELA-JAPAN-based_privacy_notice_REV 25.8-profiling_consent.html</li>
                                <li>UNKNOWN@@@Giappone_Tradotta_JP@Margiela_Giappone_Tradotta_JP_UNKNOWN-JP MARGIELA-JAPAN-consent_form-analogic_REV 25.8-profiling_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_2_20_p')">Italia</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@Italia@Margiela_Italia_UNKNOWN-Italia_informativa CRM MARGIELA Based-profiling_consent.html</li>
                                <li>UNKNOWN@@@Italia@Margiela_Italia_UNKNOWN-Italia_Informativa_ENG_CRM MARGIELA Based_19.02.21-profiling_consent.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk_2_20_p')">UK</a></span></li>
                            <ul>
                                <li>English</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa_2_20_p')">USA</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>English</li>
                            </ul>
                    </ul>
                </div>
